.categories {
  display: flex;
  flex-wrap: wrap;

  &__category {
    color: #2f80ed;

    font-family: var(--font-open-sans);
    font-weight: 800;
    text-transform: uppercase;

    &::after {
      content: ",\00a0";
    }

    &:last-of-type {
      &::after {
        content: "";
      }
    }

    &:nth-last-child(2) {
      &::after {
        content: "\00a0&\00a0";
      }
    }
  }
}
