@import "@/styles/mixins";

.project {
  width: 100%;
  position: relative;

  &__waves {
    top: 8rem;
    margin: 0 -8rem;
  }

  &__content {
    max-width: 32rem;
  }

  &__list {
    gap: 2rem;
    width: 100%;
    margin: 2rem 0 0;
    display: flex;
    flex-wrap: wrap;
  }
}
