@import "@/styles/mixins";

.not_found {
  padding: 1rem 2rem;

  @include respond-to-md {
    padding: 2rem 4rem;
  }

  @include respond-to-lg {
    padding: 4rem 8rem;
  }

  &__title {
    margin: 3rem 0 0;
    // font-size: 2.5rem;
  }

  &__button {
    margin-top: 2rem;
  }

  &__content {
    max-width: 32rem;
  }
}
