.footer {
  width: 100%;
  color: #fff;
  padding: var(--padding);
  background: #0099ff;

  &__columns {
    display: flex;
    justify-content: space-between;

    &__column {
      max-width: 20rem;

      &__title {
        margin: 0 0 0.5rem;
      }

      &__list {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;

        &__item {
          gap: 0.5rem;
          display: flex;

          &__icon {
            margin: 2px 0 0 0;
          }

          &__copyright {
            margin: 0.5rem 0 0 0;
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
