@import "@/styles/mixins";

.breadcrumb {
  margin: 0 0 2rem;

  &__list {
    gap: 0.75rem;
    display: flex;
    font-size: 0.85rem;
    align-items: center;

    &__item {
      &__link {
        gap: 0.5rem;
        display: flex;
        align-items: center;
      }

      &:last-of-type {
        font-weight: bold;
      }
    }

    @include respond-to-sm {
      font-size: 1rem;
    }
  }
}
