@import "@/styles/mixins";

.carousel {
  --carousel-item-gap: 2rem;

  @include respond-to-md {
    --carousel-item-gap: 4rem;
  }

  gap: var(--carousel-item-gap);
  width: 100vw;
  margin: -14rem 0 0 calc(var(--padding-horizontal) * -1);
  display: flex;
  padding: 4rem 0;
  align-items: center;

  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
