@use "@/styles/mixins";

.carousel {
  --carousel-item-gap: 2rem;
  --carousel-item-margin: 10vw;
  --carousel-item-width: calc(
    (100vw - var(--padding-horizontal-responsive) * 2) * 100 / 105
  );
  gap: var(--carousel-item-gap);
  width: 100vw;
  margin: -22rem 0 0 var(--margin-horizontal-responsive);
  display: flex;
  padding: 4rem var(--carousel-item-margin) 4rem 0;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;

  @include mixins.respond-to-md {
    --carousel-item-gap: 4rem;
    --carousel-item-margin: calc((100vw - var(--carousel-item-width)) / 2);
    --carousel-item-width: 46rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
