@import "@/styles/mixins";

.carousel {
  --carousel-item-gap: 2rem;

  @include respond-to-md {
    --carousel-item-gap: 4rem;
  }

  gap: var(--carousel-item-gap);
  width: 100vw;
  margin: -20rem 0 0 -8rem;
  display: flex;
  min-height: 36rem;
  align-items: center;

  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
