.header {
  width: 100vw;
  color: #fff;
  z-index: -1;
  position: relative;
  margin-left: -8rem;
  margin-top: -4rem;

  &--small {
    .header__image {
      height: 27rem;
    }

    .header__waves {
      top: 15rem;
    }
  }

  &__image {
    width: 100%;
    height: 32rem;
    z-index: -1;
    overflow: hidden;
    object-position: 0 calc(-10vw + 5rem);
  }

  &__content {
    top: 4rem;
    left: 8rem;
    z-index: 1;
    position: absolute;

    &__title {
      font-size: 4rem;
      font-weight: 800;
    }
  }

  &__waves {
    top: 20rem;
  }
}
