.header {
  width: 100%;
  color: #fff;

  &__image {
    position: absolute;
    top: -14rem;
    left: 0rem;
    z-index: -1;
    width: 150vw;
    filter: brightness(50%);
  }

  &__title {
    font-size: 4rem;
    font-weight: 800;
  }

  &__subtitle {
    min-height: 33.5px;
  }

  &__content {
    font-size: 2rem;
  }
  &::before,
  &::after {
    top: 30rem;
    left: -25vw;
    width: 150vw;
    height: 100%;
    content: "";
    position: absolute;
    transform: rotate(4deg);
    background: #fff;
  }

  // &::before {
  //   // Add dropshadow
  //   box-shadow: 0 0 10rem rgba(0, 0, 0, 1);
  // }

  &::after {
    margin-top: -1px;
    // Add inner shadow
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, blue, transparent),
      url(https://grainy-gradients.vercel.app/noise.svg);
    filter: contrast(170%) brightness(200%);
    height: 6rem;
  }
}
