@import "@/styles/mixins.scss";

.header {
  width: 100vw;
  color: #fff;
  z-index: -1;
  position: relative;

  margin-top: calc(var(--padding-vertical) * -1);
  margin-left: calc(var(--padding-horizontal) * -1);

  &--small {
    .header__image {
      height: 27rem;
    }

    .header__waves {
      top: 15rem;
    }
  }

  &__image {
    width: 100%;
    height: 32rem;
    z-index: -1;
    overflow: hidden;

    object-position: 80% 0;

    @include respond-to-lg {
      object-position: 0 calc(-10vw + 5rem);
    }
  }

  &__content {
    top: var(--padding-vertical);
    left: var(--padding-horizontal);
    z-index: 1;
    position: absolute;

    &__title {
      font-size: 4rem;
      font-weight: 800;
    }
  }

  &__waves {
    top: 20rem;
  }
}
