$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// TODO: Find out what it's actually called

$gutter-sm: 7vw;
$gutter-md: 8vw;
$gutter-lg: 9vw;
$gutter-xl: 10vw;
$gutter-xxl: 15vw;

$vertical-divider: 6vh;
$horizontal-divider: 3vw;