.breadcrumb {
  margin: 0 0 2rem;
  &__list {
    gap: 0.75rem;
    display: flex;
    align-items: center;

    &__item {
      &__link {
        gap: 0.5rem;
        display: flex;
        align-items: center;
      }

      &:last-of-type {
        font-weight: bold;
      }
    }
  }
}
