@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

// I think I wanna move this to variables.scss but I'm not sure
:root {
  --padding-vertical: 1rem;
  --padding-horizontal: 2rem;

  @include respond-to-md {
    --padding-vertical: 2rem;
    --padding-horizontal: 4rem;
  }

  @include respond-to-lg {
    --padding-vertical: 4rem;
    --padding-horizontal: 8rem;
  }

  --padding: var(--padding-vertical) var(--padding-horizontal);
}

body {
  color: #000;
  margin: 0;

  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

main {
  display: flex;
  padding: var(--padding);
  align-items: start;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 700;
  font-family: var(--font-open-sans);
}

button {
  border: none;
  background: 0;
}

ul,
li,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

p {
  max-width: 50ch;

  > a {
    color: #006fcc;
  }
}
