@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

body {
  color: #000;
  margin: 0;
  font-family: var(--font-montserrat);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;

  font-weight: 400;
  font-family: var(--font-open-sans);
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  margin: 0.25rem 0;
}

button {
  border: none;
  background: 0;
}

ul,
li,
ol,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
}

* {
  box-sizing: border-box;
}
