@use "@/styles/mixins";

.item {
  width: var(--carousel-item-width);
  position: relative;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

  &__video {
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    object-fit: cover;
  }

  &__overlay {
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 1.25rem 1.5rem;
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.2s ease-in-out;

    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
    }

    &__categories {
      gap: 0.5rem;
      display: flex;
      flex-wrap: wrap;
    }

    @include mixins.respond-to-sm {
      padding: 2rem;
    }
  }

  &--active {
    transform: scale(1.05);

    .item__video {
      display: block;
    }

    .item__image {
      opacity: 0;
    }
  }

  &:hover {
    .item__overlay {
      opacity: 0;
    }
  }
}
