@use "@/styles/mixins";

.project {
  width: 100%;
  position: relative;

  margin-top: calc(var(--padding-vertical) * 0.5);
  margin-bottom: calc(var(--padding-vertical) * 5);

  --carousel-item-gap: 2rem;
  --carousel-item-width: 100%;

  @include mixins.respond-to-lg {
    --carousel-item-width: calc(50% - (var(--carousel-item-gap) / 2));
  }

  @include mixins.respond-to-xxxl {
    --carousel-item-width: calc(33.3333% - (var(--carousel-item-gap) / 1.5));
  }

  &__waves {
    top: 8rem;
    margin: 0 -8rem;
  }

  &__content {
    max-width: 32rem;
  }

  &__list {
    gap: 2rem;
    width: 100%;
    margin: 2rem 0 0;
    display: flex;
    flex-wrap: wrap;
  }
}
