@import "@/styles/mixins";

.item {
  --carousel-item-margin: 10vw;
  --carousel-item-width: calc(
    (100vw - var(--padding-horizontal) * 2) * 100 / 105
  );

  @include respond-to-md {
    --carousel-item-margin: calc((100vw - var(--carousel-item-width)) / 2);
    --carousel-item-width: 46rem;
  }

  position: relative;
  min-width: var(--carousel-item-width);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  scroll-snap-align: center;

  &:first-of-type {
    margin-left: var(--carousel-item-margin);
  }

  &:last-of-type {
    margin-right: var(--carousel-item-margin);
  }

  &__video {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    position: absolute;
    object-fit: cover;
  }

  &__overlay {
    top: 0;
    gap: 0.5rem;
    color: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    padding: 1.25rem 1.5rem;
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.2s ease-in-out;
    flex-direction: column;

    &__categories {
      margin-bottom: auto;
    }

    &__content {
      margin: 0;
      max-width: 80%;
      display: none;

      @include respond-to-sm {
        display: block;
      }
    }

    @include respond-to-sm {
      padding: 2rem;
    }
  }

  &--active {
    transform: scale(1.05);

    .item__video {
      display: block;
    }
  }

  &__link {
    &:hover {
      .item__overlay {
        opacity: 1;
      }
    }
  }
}
