.navbar {
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.header {
  padding: 12px 15px;
  font-weight: 400;
  font-size: 18px;
  color: #888;
}

.item {
  padding: 12px 15px;
  font-weight: 300;
  font-size: 18px;
  color: #888;
}

.item:hover {
  color: #595959;
}
