@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url("assets/style/fonts/Raleway-Light.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url("assets/style/fonts/Raleway-Regular.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

img {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Raleway';
  margin: 0px 0px 0px 0px;
}

a {
  color: #304eb7;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0px 0px 0px 0px;
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

img {
  vertical-align: top;
}

blockquote {
  margin: 20px 0 0 0;
  bottom: 0px;
}

blockquote h3 {
  opacity: 0.6;
}

blockquote #orgin, blockquote h2 {
  transition: margin 1500ms;
}

blockquote #orgin:hover, blockquote h2:hover {
  margin-left: 15px;
  transition: margin 150ms;
}

.banner {
  width: 100%
}

.content {
  padding: 0vw 2.5vw 0vw 2.5vw;
}

.article-title {
  color: blue;
  font-size: 18px;
  margin: 0px;
  white-space: nowrap;
}

.line {
  width: 100%;
  margin: 5px 0px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  border-top: 1px solid #ccc;
}

::-webkit-input-placeholder {
    color: grey;
    opacity: 0.75;
}

:-ms-input-placeholder {
    color: grey;
    opacity: 0.75;
}

::-ms-input-placeholder {
    color: grey;
    opacity: 0.75;
}

::placeholder {
    color: grey;
    opacity: 0.75;
}

.rounded {
  border-radius: 15px;
}

.cell {
  border: 1px solid #E7E7E7;
  padding: 2.5% 2.5% 2.5% 2.5%;
  margin: 2.5% 0% 2.5% 0%;
  background-color: #F8F8F8;
}

.product, .profile {
  width: 100%;
}

.sub-text {
  margin-left: 5px;
}

.experience-cell {
  width: 100%;
}

@media screen and (orientation:portrait) {
  .mobile-right-margin {
    margin-right: 15px;
  }

  .mobile-left-margin {
    margin-left: 15px;
  }

  .mobile-divider-large {
    height: 15px;
  }

  .mobile-divider-medium {
    height: 10px;
  }

  .mobile-divider-small {
    height: 5px;
  }

  .desktop-only {
    display: none;
  }
}

@media screen and (orientation:landscape) {
  .content {
    padding: 0vw 10vw 0vw 10vw;
  }

  .desktop-right-margin {
    margin-right: 15px;
  }

  .desktop-left-margin {
    margin-left: 15px;
  }

  .desktop-top-margin {
    margin-top: 15px;
  }

  .desktop-bottom-margin {
    margin-bottom: 15px;
  }

  .mobile-only {
    display: none;
  }

  .desktop-divider-large {
    height: 15px;
  }

  .desktop-divider-medium {
    height: 10px;
  }

  .desktop-divider-small {
    height: 5px;
  }

  .cell {
    padding: 1% 1% 1% 1%;
    margin: 1% 0% 1% 0%;
  }

  .profile {
    width: 300px;
    height: 300px;
  }

  .product {
    width: 300px;
    height: 150px;
  }
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: stick;
}
