.categories {
  gap: 1rem;
  display: flex;
  justify-content: flex-start;

  &__category {
    gap: 0.5rem;
    display: flex;
    padding: 0.5rem 0.75rem;
    border: 2px solid #fff;
    border-radius: 2.5rem;
    align-items: center;

    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;

    &__dot {
      background-color: rgb(255, 99, 71);
      width: 0.65rem;
      height: 0.65rem;
      border-radius: 50%;

      &--design {
        background-color: rgb(255, 99, 71);
      }

      &--development {
        background-color: rgb(0, 128, 0);
      }

      &--entertainment {
        background-color: rgb(255, 215, 0);
      }
    }

    &__icon {
      font-size: 0.75rem;
    }
  }
}
