.technologies {
  gap: 1rem;
  margin: 0 0 1rem;
  display: flex;
  flex-wrap: wrap;

  &__technology {
    &__link {
      display: flex;
      padding: 0.5rem 0.75rem;
      overflow: hidden;
      position: relative;
      transition: all 0.25s ease;

      font-weight: bold;
      align-items: center;
      justify-content: center;

      gap: 0.25rem;
      border: 2px solid #000;
      border-radius: 2.5rem;

      &__icon {
        width: 1rem;
        height: 1rem;
      }

      &__background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.25;
        z-index: -1;
        position: absolute;
      }

      &:hover {
        scale: 1.05;
        background: #fff;

        .technologies__technology__link__background {
          opacity: 0.5;
        }
      }
    }
  }
}
