.technologies {
  gap: 0.75rem;
  display: flex;
  flex-wrap: wrap;

  &__technology {
    &__link {
      display: flex;
      padding: 0.75rem 1.25rem;
      overflow: hidden;
      position: relative;
      transition: all 100ms ease;

      font-weight: bold;
      border-radius: 2.5rem;

      &::after {
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        content: "";
        opacity: 0.5;
        position: absolute;
        background: #fff;
        transition: all 100ms ease;
        border-radius: 2.5rem;
      }

      &:hover {
        &::after {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &__inner {
        gap: 0.5rem;
        z-index: 1;
        display: flex;
        align-items: center;

        &__icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
